

//variables-for-color
$color-primary: #aa9f9f;
$color-primary-light: #854d36 ;
$color-primary-dark: black;
$color-overall1: #cf675b;
$color-overall2: #cf675b;
$color-overall3: #89959a;
$color-overall4: #afa394;
$color-dark:#660b31;

//variables-for-grid
$grid-width: 114rem;
$gutter-vertical: 6rem;
$gutter-horizontal: 1rem;
$height-of-box: 60vh;
$color-balck: #0a0a09;
