
.navigation-bar {

  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 94.4%;
  border-radius: 25%;
  z-index: 2000;
  ul{
  list-style: none;


& a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

& a:hover {
  background: #ddd;
  color: black;
}
}
}
